<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Información de un código postal con JQuery - API COPOMEX</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">





</head>

<body>
  <h2>Para mayor información visita https://api.copomex.com/documentacion</h2>




  <form name="estados" id="estados">

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Código Postal:</span>
      </div>
      <input type="text" class="form-control" name="codigo_postal" id="codigo_postal">
    </div>
    <a href="javascript:void(0)" onclick="informacion_cp()" class="btn btn-primary">Obtener información Código
      Postal</a>
    <br />


    <label for="cp_response">Código Postal Respuesta:</label>
    <input type="text" name="cp_response" id="cp_response" class="form-control" disabled readonly>
    <br>

    <label for="list_colonias">Colonias:</label>
    <select name="list_colonias" id="list_colonias" class="form-control">
      <option>Seleccione</option>
    </select>
    <br>

    <label for="tipo_asentamiento">Tipo Asentamiento:</label>
    <input type="text" name="tipo_asentamiento" id="tipo_asentamiento" class="form-control" disabled readonly>
    <br>

    <label for="municipio">Municipio:</label>
    <input type="text" name="municipio" id="municipio" class="form-control" disabled readonly>
    <br>

    <label for="estado">Estado:</label>
    <input type="text" name="estado" id="estado" class="form-control" disabled readonly>
    <br>

    <label for="ciudad">Ciudad:</label>
    <input type="text" name="ciudad" id="ciudad" class="form-control" disabled readonly>
    <br>

    <label for="pais">País:</label>
    <input type="text" name="pais" id="pais" class="form-control" disabled readonly>
    <br>

  </form>

  <script type="text/javascript" src="../js/cp.js"></script>

</body>

</html>